$primary-color1: hsl(26, 100%, 55%);
$primary-color2: hsl(25, 100%, 94%);

// Neutral colors
$Very-dark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%); //(with 75% opacity for lightbox background)

@mixin fonts($size: 16px, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: "Kumbh Sans", sans-serif;
}
