@media (max-width: 1155px) {
  .menu {
    margin: 40px 100px;
    &-left {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    .bar-icon {
      display: none;
    }
    ul {
      display: flex;
      gap: 15px;
      li {
        :hover {
          color: $primary-color1;
          border: none;
        }
      }
    }
    img {
      width: 30px;
      height: 30px;
      margin: 0 10px;
      cursor: pointer;
    }
  }
  .cart-items {
    width: 65%;
    height: 230px;
    position: absolute;
    background: #fff;
    top: 85px;
    right: 10px;
    .cart-content {
      padding: 15px 27px;
      .cart-content-body {
        h1 {
          @include fonts(14px, 400, $Dark-grayish-blue);
        }
      }
    }
  }
  .product {
    margin: 40px 100px;
  }
  .mySwiper {
    img {
      width: 300px;
      height: 300px;
      border-radius: 15px;
    }
  }
}

@media (max-width: 900px) {
  .menu {
    margin: 40px 30px;
    &-left {
      display: flex;
      flex-direction: row-reverse;
      gap: 15px;
    }
    .bar-icon {
      display: block;
    }
    ul {
      height: 100vh;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 75%;
      z-index: 2;
      padding: 10% 7%;
      background-color: #f0f0f0;
      img {
        width: 20px;
        height: 20px;
        display: flex;
        margin-bottom: 5%;
      }
    }
  }
  .product {
    display: flex;
    flex-direction: column;
    margin: 40px 0;

    .imagesCon {
      width: 100%;
    }
  }
  .mySwiper {
    // margin-top: 120px;
    box-sizing: border-box;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 0;
      object-fit: contain;
      margin-bottom: 20px;
    }
  }
  .mySwiper2 {
    display: none;
  }
  .product_content {
    width: 80%;
    margin-top: 10px;
    span {
      @include fonts(20px, 600, $primary-color1);
    }
    h1 {
      width: 90%;
      margin: 5px 0 15px 0;
      @include fonts(39px, 800, $Black);
    }
    .product_content_para {
      @include fonts(20px, 400, $Dark-grayish-blue);
    }
    .prices {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 50px;
      margin-top: 20px;
    }
    .add-cart {
      flex-direction: column;
      margin-top: 40px;
      width: 100%;
      .cart-cal {
        padding: 20px 20px;
        width: 100%;
        justify-content: space-between;
        border-radius: 10px;
      }
      .cart-btn {
        width: 100%;
        button {
          width: 100%;
          font-size: 16px;
          border-radius: 10px;
          padding: 15px 0;
        }
      }
    }
  }
}
