@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&display=swap");

@import "/src/sass/reset";
@import "/src/sass/config";

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 150px;
  border-bottom: 1px solid $Grayish-blue;
  padding-bottom: 20px;
  z-index: 2;
  @include fonts(16px, 600, $Black);
  &-left {
    display: flex;
    align-items: center;
    gap: 70px;
  }
  .bar-icon {
    display: none;
  }
  ul {
    width: 700px;
    display: flex;
    gap: 20px;
    @include fonts(16px, 400, $Dark-grayish-blue);

    li {
      :hover {
        color: $primary-color1;
      }
    }
  }
  img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
  }
}
.product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 150px;

  .imagesCon {
    width: 40%;
  }
}
.mySwiper {
  // margin-top: 120px;
  box-sizing: border-box;
  width: 100%;
  .SwiperSlide {
  }
  img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    object-fit: contain;
    margin-bottom: 20px;
  }
}
.mySwiper2 {
  width: 80%;
  margin: 0 auto;
  margin-left: 5px;

  img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: contain;
  }
}
.product_content {
  width: 40%;
  //   margin-top: 10px;
  span {
    @include fonts(16px, 400, $primary-color1);
  }
  h1 {
    width: 300px;
    margin: 5px 0 15px 0;
    @include fonts(30px, 600, $Black);
  }
  .product_content_para {
    @include fonts(16px, 400, $Dark-grayish-blue);
  }
  .price {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    div {
      background: $primary-color2;
      padding: 1px 4px;
    }

    span {
      @include fonts(14px, 400, $primary-color1);
    }
  }
  .old-price {
    p {
      margin: 5px;
      text-decoration: line-through;
      @include fonts(12px, 400, $Grayish-blue);
    }
  }
  .add-cart {
    display: flex;
    gap: 25px;
    margin-top: 30px;
    align-items: center;
    cursor: pointer;
    .cart-cal {
      display: flex;
      gap: 30px;
      background: $Light-grayish-blue;
      padding: 5px 10px;
      border-radius: 5px;

      strong {
        color: $primary-color1;
        font-size: 20px;
        font-weight: 900;
        cursor: pointer;
      }
    }
    .cart-btn {
      background: $primary-color1;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px 70px;
      border-radius: 8px;

      @include fonts(12px, 400, $White);
      img {
        width: 10px;
        height: 10px;
        margin-right: 5px;
        color: $White;
      }
    }
  }
}
@import "tablet";
@import "mobile";
